<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>balance_plots.R</string>
		</array>
		<array>
			<string>data_tidying.R</string>
		</array>
		<array>
			<string>new_os_surv_curv.R</string>
		</array>
		<array>
			<string>new_rfs_surv_curv.R</string>
		</array>
		<array>
			<string>Preface.md</string>
		</array>
		<array>
			<string>propensity_scores.md</string>
		</array>
		<array>
			<string>resubmission.md</string>
		</array>
		<array>
			<string>stable.weights.R</string>
		</array>
		<array>
			<string>submitted_paper.md</string>
		</array>
	</array>
</dict>
</plist>
